<div>
  <h2 id="page-heading" data-cy="PickingPointHeading">
    <span jhiTranslate="covoiturageApp.pickingPoint.home.title">PickingPoints</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="covoiturageApp.pickingPoint.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-picking-point"
        [routerLink]="['/picking-point/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="covoiturageApp.pickingPoint.home.createLabel">Créer un nouveau Picking Point</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (pickingPoints?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="covoiturageApp.pickingPoint.home.notFound">Aucun Picking Point trouvé</span>
    </div>
  }

  @if (pickingPoints && pickingPoints.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.pickingPoint.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.pickingPoint.adresse">Adresse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (pickingPoint of pickingPoints; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/picking-point', pickingPoint.id, 'view']">{{ pickingPoint.id }}</a>
              </td>
              <td>{{ pickingPoint.name }}</td>
              <td>{{ pickingPoint.adresse }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/picking-point', pickingPoint.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/picking-point', pickingPoint.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(pickingPoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
