<div>
  <h2 id="page-heading" data-cy="PassageHeading">
    <span jhiTranslate="covoiturageApp.passage.home.title">Passages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="covoiturageApp.passage.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-passage"
        [routerLink]="['/passage/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="covoiturageApp.passage.home.createLabel">Créer un nouveau Passage</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (passages?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="covoiturageApp.passage.home.notFound">Aucun Passage trouvé</span>
    </div>
  }

  @if (passages && passages.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="starDate">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.starDate">Star Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="time">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.time">Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seat">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.seat">Seat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passeBy.id">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.passeBy">Passe By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driver.id">
              <div class="d-flex">
                <span jhiTranslate="covoiturageApp.passage.driver">Driver</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (passage of passages; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/passage', passage.id, 'view']">{{ passage.id }}</a>
              </td>
              <td>{{ passage.starDate | formatMediumDate }}</td>
              <td>{{ passage.endDate | formatMediumDate }}</td>
              <td>{{ passage.time | formatMediumDate }}</td>
              <td>{{ passage.seat }}</td>
              <td>
                @if (passage.passeBy) {
                  <div>
                    <a [routerLink]="['/picking-point', passage.passeBy.id, 'view']">{{ passage.passeBy.id }}</a>
                  </div>
                }
              </td>
              <td>
                {{ passage.driver?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/passage', passage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/passage', passage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(passage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
